@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');

* {
    padding: 0;
    margin: 0;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    height: 100%;
}

.BottomNav_nav {
    width: 502px;
    height: 120px;
    position: fixed;
    z-index: 9999;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    background-color: #fff;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.BottomNav_nav ul img {
    width: 40px;
    margin-bottom: 10px;
}

.BottomNav_nav ul {
    width: 100%;
    height: 75px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}

.BottomNav_nav ul li {
    list-style: none;
    margin-right: 80px;
}

.BottomNav_nav ul li:last-child {
    margin: 0;
}

.BottomNav_nav ul li a {
    display: block;
    height: auto;
    text-align: center;
    text-decoration: none;
    color: #191919;
    font-weight: bold;
    cursor: pointer;
}

.BottomNav_home img {
    width: 90px;
}

.BottomNav_home {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
