@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    height: 100%;
}

/* container */
.Login_container {
    width: 500px;
    margin: 0 auto;
    padding-top: 20px;
    height: 100%;
}

.Login_container::after {
    content: '';
    display: block;
    clear: both;
}

/* 뒤로가기 */
.Login_back {
    display: block;
    width: 32px;
    height: 32px;
    margin-bottom: 60px;
}

.Login_back img {
    display: block;
    width: 32px;
    height: 32px;
}

/* 로고 */
.Login_logo {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.Login_container > p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    margin: 0;
    margin-bottom: 60px;
}

/* 로그인 버튼 */
.Login_login {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    margin-bottom: 40px;
}

.Login_btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    gap: 10px;
}

.Login_btn.kakao a {
    background-color: #F7E600;
    color: #000;
}

.Login_btn.naver a {
    background-color: #00C73C;
    color: #fff;
}

.Login_btn.google a {
    background-color: #000;
    color: #fff;
}

.Login_btn img {
    width: 20px;
    height: 20px;
}

.Login_btn.google img {
    width: 28px;
    height: 28px;
}

/* 핸드폰 번호로 회원가입 */
.Login_phone-wrap {
    display: flex;
    justify-content: center;
}

.Login_phone {
    display: inline-block;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}
